:root {
  --bg-color: #e0f7fa;
  --font-color: #006064;
  --blue-color: #0288d1;
  --blue-hover-color: #03a9f4;
  --button-bg-color: #0288d1;
  --button-hover-bg-color: #03a9f4;
}

/* BASIC RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif !important;
  /* font-family: "ALS Delsa", sans-serif !important; */
}

html {
  /*
    10 / 16 = 0.625
    1 rem === 10px
    1 em === 16px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: #006064;
  color: var(--font-color);
}

body {
  box-sizing: border-box;
  /* rem is always measured relative to the document’s root font-size. */
  /* e.g. padding: 3rem; /* 30px */
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 35em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 33em) {
  html {
    font-size: 45%;
  }
}

@media only screen and (max-width: 21em) {
  html {
    font-size: 40%;
  }
}

::-webkit-scrollbar {
  background-color: var(--bg-color);
  color: var(--blue-color);
}

::-webkit-scrollbar-corner {
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}

::selection {
  background-color: var(--blue-color) !important;
  color: var(--bg-color) !important;
}

.Main {
  background-color: var(--bg-color);
}

.App {
  max-width: 80rem;
  margin: 0 auto;
  padding: 3rem;
}

/* Navbar.css */
nav {
  background-color: var(--font-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  flex-wrap: wrap;
}

nav a {
  color: var(--bg-color);
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  padding: 1rem;
}

nav a:hover {
  color: #03a9f4;
}

nav span a:first-of-type {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--blue-hover-color);
}
nav a:first-of-type:hover {
  color: #03a9f4;
}

button {
  background-color: var(--button-bg-color);
  color: var(--bg-color);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

/* Footer.css */
footer {
  background-color: #006064;
  color: #e0f7fa;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 0.2rem solid #e0f7fa;
}

footer p {
  margin: 0;
  font-size: 1.4rem;
}

footer img {
  margin-top: 1rem;
  width: 10rem;
  height: auto;
}

footer img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* Card.css */
.card {
  background-color: var(--bg-color);
  border: 0.1rem solid var(--blue-color);
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  width: 20rem;
  margin: 1rem;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card img {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;
}

.card h2 {
  font-size: 1.5rem;
  color: var(--font-color);
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1.2rem;
  color: var(--font-color);
  margin-bottom: 1rem;
}

.favButton {
  background-color: var(--button-bg-color);
  color: var(--bg-color);
  border: 0.1rem solid var(--bg-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease-in-out;
}

.favButton:hover {
  background-color: var(--button-hover-bg-color);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  justify-content: center;
  background-color: var(--bg-color);
  /* align-items: center; */
}

/* Dentist.css */
.dentist-container {
  background-color: var(--bg-color);
  padding: 2rem;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  max-width: 600px;
  margin: 2rem auto;
}

.dentist-container h1 {
  color: var(--font-color);
  text-align: center;
  margin-bottom: 2rem;
}

.dentist-table {
  width: 100%;
  border-collapse: collapse;
}

.dentist-table td {
  padding: 1rem;
  border: 1px solid var(--blue-color);
  color: var(--font-color);
}

.dentist-table tr:nth-child(even) {
  background-color: var(--blue-light-color);
}

.dentist-table td:first-child {
  font-weight: bold;
  background-color: var(--blue-color);
  color: var(--bg-color);
}

/* Contact.css */
.contact-container {
  background-color: var(--bg-color);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 230px;
  margin: 2rem auto;
  text-align: left;
}

.contact-container h1 {
  color: var(--font-color);
  margin-bottom: 2rem;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-container label {
  font-size: 1.2rem;
  color: var(--font-color);
  margin-bottom: 0.5rem;
}

.contact-container input {
  padding: 0.5rem;
  border: 1px solid var(--blue-color);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--font-color);
  background-color: var(--bg-color);
}

.contact-container input:focus {
  outline: none;
  border-color: var(--blue-hover-color);
}

.contact-container button {
  background-color: var(--button-bg-color);
  color: var(--bg-color);
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.contact-container button:hover {
  background-color: var(--button-hover-bg-color);
}

.contact-container p {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: var(--font-color);
}
